click
numpy
polars
matplotlib
seaborn
pyteomics
pyimzml
pandas
opencv-python
scipy
anndata
spatialdata


# for better segmentation 
# segment-anything @ git+https://github.com/facebookresearch/segment-anything.git
# torch 
# torchvision
